//- index.pug
extends partials/base.pug

block content 
  section
    h2 Xander
    p(class='metadata') Född 2011 hos K. Brydon, England.
    
    script(src="https://snapwidget.com/js/snapwidget.js")
    iframe(src="https://snapwidget.com/embed/440095" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; ")
  
  section
    h2 Stamtavla
    table 
      tbody
        tr
          td(rowspan='4' class='sire') Dearnevalley Gold Bullion
          td(rowspan='2' class='sire') Trevallion Jacks Image
          td(class='sire') Trevallion Flash Jack
        tr
          td Trevallion Pearl
        tr
          td(rowspan='2') Trevallion Montana
          td(class='sire') Brynymor Welsh Magic
        tr
          td Tapton Rachel
        tr 
          td(rowspan='4') Medley Mattie
          td(rowspan='2' class='sire') Tynybryn Magic
          td(class='sire') Nebo Magic
        tr 
          td Tynybryn Sian
        tr
          td(rowspan='2') Medley Mandy
          td(class='sire') Llanarth Brummel
        tr
          td Tydi Fancy
          
  section 
    h2 Avkommor
    table
      thead
        tr
          td Namn
          td Född
          td Kön
          td Färg
          td Undan
      tbody
        tr
          td 
            a(href="https://www.instagram.com/kelyddon/") Idhults Kelyddon
          td 2014
          td Valack
          td Isabell
          td Gwennog Dela
        tr 
          td Dancing Mr Darcy
          td 2016
          td Valack
          td Gulsvart
          td Taffechan Dancing Princess
  
  
