doctype html

html
  head
    title Balnecroft Xander
    link(rel="stylesheet" href="/xander.css")
    meta(charset="utf-8")
    
  body
    header
      h1 Balnecroft Xander
    div
      block content
      
    footer
      p Ägare: Moa Nandorf
