doctype html

html
  head
    title Balnecroft Xander
    link(rel="stylesheet" href="/css/xander.css")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
  body
    header(class='Header')
      div(class='Header-wrapper')
        h1(class='Header-heading') Balnecroft Xander
        div(class='Header-tagline') Welsh Cob
      
    div(class="Site-wrapper")
      block content
      
    footer(class='Footer Site-wrapper')
      
