body,
html {
  background: white;
}

* {
  box-sizing: border-box;
}

table {
  width: 100%;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-collapse: collapse;

  td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    padding: 10px;
  }

  td.sire {
    background: #f9f9f9;
  }

  thead {
    background: #f9f9f9;
    color: #888;
  }
}

a {
  text-decoration: none;
  transition: all .3s ease-in;

  &:link,
  &:visited {
    color: hotpink;
    border-bottom: 1px dotted hotpink;
  }

  &:hover {
    color: deeppink;
    border-bottom: 1px solid deeppink;
  }
}
